[Unit]
Description=GPS Logger
After=network.target
Requires=influxdb.service
Requires=mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=crandall
ExecStart=/usr/local/skimon/bin/GPSLogger.py

[Install]
WantedBy=multi-user.target